#board-container {
    overflow: hidden;
    width: 100%;
    height: 50vw;
    cursor: grab;
    background-image: url("../img/board.jpg");
}

#borad-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: -100vw;
    background-color: rgba(222, 221, 221, 1);
    z-index: 2;
}
#borad-overlay .container {
    margin-top: 50px;
}

#board canvas {
    width: 2500px;
    height: 2500px;
    background-image: url("../img/board.jpg");
}

.poster {
    display: none;
}

#wordcloud {
    width: 100%;
    height: 50vw;
    margin: auto;
}
#wordcloud-wrap {
    width: 100%;
    height: 100%;
}
#wordcloud-wrap svg {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}